:root {
    --color-copper: 0, 0%, 16%;
    --color-gold: 0, 0%, 100%;
    --color-front: 0, 0%, 40%;
    --color-back: 352, 6%, 5%;
}

html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
    background: hsl(var(--color-back));
    font-family: Menlo;
}
